{% extends "base.html" %}
{% load static %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {# Делаем колонку шире: col-lg-10 для больших экранов #}
        <div class="col-lg-10">
            <div class="hero-block compact"> {# 1. Добавляем новый класс 'compact' #}
                <div class="hero-content text-center"> {# 2. Добавляем text-center сюда #}
                    <img src="{% static 'icons/apple-logo.png' %}" alt="Apple Logo" class="hero-logo">
                    <h1 class="display-4 fw-bold hero-title">{{ content }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}